<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fall Relief</title>


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/flaticon.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />


</head>
<body>




    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Fall<span>Relief</span></a>
            <form action="#" class="searchform order-sm-start order-lg-last">
                <div class="form-group d-flex">
                    <input type="text" class="form-control pl-3" placeholder="Search">
                    <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="/Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item "><a href="/Home/FallAssessment" class="nav-link">Fall Assessment</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="hero-wrap">
        <div class="home-slider owl-carousel">

            <div class="slider-item" style="background-image:url(../../Content/5-most-common-balance-problems-seniors-experience.jpg" />);">

            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-10 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Preventing unintentional falls at home</h2>
                            <h1 class="mb-4">Discover the risks of falling by our assessment tool</h1>
                            <p><a href="/Home/FallAssessment" class="btn btn-white">Assess Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/homepage '.jpg" />


            <div class="slider-item" style="background-image:url(../../Content/homepage '.jpg />);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-10 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2>Welcome to FallRelief</h2>
                                <h1 class="mb-4">We help to reach your goals</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>We can help you in different situations</h2>
                    <span class="subheading">We offer Services</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block text-center">
                        <a href="/Home/FallAssessment">
                            <div class="icon d-flex justify-content-center align-items-center">
                                
                            </div>
                        </a>
                        <div class="media-body p-2 mt-3">

                            <h3 class="heading">Fall Assessment</h3>
                            <p>
                                Easy-to-use assessment service can help identify senior’s risk level, followed by customized
                                precautions in and around the home to avoid falls and injuries from fall.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                           
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Services Locator</h3>
                            <p>
                                Coming Soon! A one-stop for locating the the nearest hospitals, health centers, Aged Care Homes,
                                their specialties, area of focus and services they provided.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Lifestyle Planning</h3>
                            <p>
                                Coming Soon! A life style planner for all your nutrition and your exercise needs
                                to significantly reduce your risk of falling and keep you in your best health.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Action Plan and Reminders</h3>
                            <p>
                                Coming Soon! We also focus on home environment and living conditions which leads to
                                further decreasing the chance of falling and keep you well.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center pb-5 mb-3">
                    <div class="col-md-7 heading-section text-center ftco-animate">
                        <h2>Why choose us</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block text-center">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-goal"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Targeted Solutions</h3>
                                <p>
                                    We have a targeted solution which focuses on specific needs and we are excited, determined and persistent
                                    in achieving our goals.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block text-center">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-stress"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Customized Reminders</h3>
                                <p>
                                    Coming Soon! We offer unique services and the reminders are customized to help you accomplish your good health
                                    in a very short time and keep you aware of your activities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block text-center">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-crm"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Multiplatform Oriented</h3>
                                <p>
                                    Coming Soon! We offer our services in multiple platforms. Compatibility is something we take seriously and
                                    we focus on the functionality of our solutions very ambitiously.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
                        <div class="d-block text-center">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-marriage"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">Easy to use</h3>
                                <p>
                                    We know our solutions, we know our audience. As it is very important for us to keep the user experience flawless,
                                    we keep our services user friendly.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    -->


    <footer class="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">Fall Relief by Team BigHD. Crafted with ❤ in Melbourne</h2>
                            <p>We are a Team of enthusiastic individuals looking forward to solve problems in the are of reducing injuries at home especially among elderly people.</p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>

    <script src="~/Scripts/jquery.stellar.min.js"></script>

    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>


    <script src="~/Scripts/scrollax.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>


    <script src="~/Scripts/google-map.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>